.container {
    height: 500px;
    margin-top: 20px;
    color: white;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


body {
    background-color: black;
}

.location-name .material-icons {
    line-height: 1;
    font-size: 1em;
}

.location-name {
    margin: 30px;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.aqindex {
    margin-top: 25px;
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.air_p_level {
    font-size: 3em;
    width: 100%;
    font-family: 'Mulish', sans-serif;
}

.icons {
    font-size: 5em;
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    color: white;
}

.tips {
    float: left;
    font-family: 'Mulish', sans-serif;
    text-align: left;
}

.rotate {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.line {
    width: 95%;
    height: 11px;
    background-color: white;
    margin: 2em auto;
    border-radius: 5px;
}

.time_iso {
    font-size: 1.4em;
    padding-bottom: 2em;
}


.flexBox {
    display: flex;
    justify-content: space-evenly;
}

.barline {
    border-radius: 1em;
    background-color: white;
    width: 11px;
    margin: 0 auto;
}

.item {
    align-self: flex-end;
}

.date {
    font-size: 1em;
    font-weight: 700;
}

.infoIcon{
    height: 30px;
    filter: invert(0.9);
}

.space-top{
    margin-top: 10%;
    padding-bottom: 2em;
}

